:root {
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0a0a0a;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


.container {
  display: flex;
  flex-direction: column;
  padding: 2px;
}

.header {
  padding: 1rem;
  border: #0a0a0a 0px;
  border-bottom: #0a0a0a 1px;
  border-style: solid;
}

.box {
  padding: 0.5rem;
  margin-top: 0.1rem;
}

.box.border {
  border: #0a0a0a 1px;
  border-style: solid;
}

.flex {
  display: flex;
}

.flex.row {
  flex-direction: row;
}

.flex.column {
  flex-direction: column;
}

.stock-entry {
  border: #02020251 0px;
  border-bottom: #02020251 1px;
  border-style: solid;
  display: flex;
  padding: 0.2rem;
}

.stock-entry .label {
  flex: 1;
}